{
  "debug": false,
  "check_interval": 600,
  "telegram": {
    "chat_id": "-100123456789",
    "topic_id": null,
    "show_link": true,
    "show_preview": true,
    "show_text": true
  },
  "accounts": [
    "VitalikButerin",
    "elonmusk",
    "10Kdogcoin"
  ],
  "nitter_instances": [
    "https://nitter.net",
    "https://nitter.privacyredirect.com",
    "https://nitter.perennialte.ch",
    "https://nitter.poast.org"
  ]
}
