{
  "debug": false,
  "check_interval": 600,
  "ai": {
    "enabled": false,
    "model": "gemini-2.5-flash",
    "prompt": "翻譯成偏向社群媒體和口語化的繁體中文，貼近原作者的語氣。回覆我翻譯主文就好。不要翻譯圖片說明文字。"
  },
  "telegram": {
    "chat_id": "-100123456789",
    "topic_id": null,
    "show_link": true,
    "show_preview": true,
    "show_text": true
  },
  "accounts": [
    "VitalikButerin",
    "elonmusk",
    "10Kdogcoin"
  ],
  "nitter_instances": [
    "https://nitter.net",
    "https://nitter.privacyredirect.com",
    "https://nitter.perennialte.ch",
    "https://nitter.poast.org"
  ]
}
